
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #F1E3A2;
	color: #2A0D00;
	font-family: "Poppins", sans-serif;
}
@font-face {
	font-family: FrederickatheGreat-Regular;
	font-style: normal;
	font-weight: normal;
	src: url('FrederickatheGreat-Regular.ttf');
}
.green{
	color: #4BB746;
}
.green:nth-child(2) {
	padding-top: 10px !important;
}
h1:first-child {
	text-align: center;
	padding: 15px;
	font-size: 25px;
	font-family: 'FrederickatheGreat-Regular', Arial, sans-serif;
}
#flex {
	display:  flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	height: auto;
	background: #AF9872;
	padding: 20px 20px 40px 20px;
	min-height: 500px;
	border-radius: 20px;
	box-shadow: -0.5px 2px 5px #1a1a1a;
}
#scoreBoard {
	padding: 20px;
	width: 45%;
	height: 80px;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 30px;
	font-family: 'FrederickatheGreat-Regular', Arial, sans-serif;
}
.item {
	margin: 20px 11px;
	height: 80px;
	flex: 26%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}
.black {
	transform: scale(1.8);
}

h3{
	color: whitesmoke;
	font-size: 30px;
	text-align: center;
}

.hide {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%,-70%);
	/*visibility: hidden;*/
	transition: transform .2s;
	object-fit: contain;
	-webkit-filter: drop-shadow(-5px 2px 1px #222);
    filter: drop-shadow(-5px 2px 1px #222);

}

.mallet {
	position: absolute;
	top: -40px;
	right: -40px;
	transform: rotate(-15deg);
	display: none;

}
.dirt {
	z-index: 11111;
	border-radius: 1000px;
	background: transparent;
	-webkit-filter: drop-shadow(-2px 0px 1px #222);
    filter: drop-shadow(-2px 0px 1px #222);
    
}

footer {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white !important;
	padding: 20px;
	background: #2A0D00;
	margin-top: 30px;
}

footer ul li a{
	color: white; 
}
footer ul {margin: 20px 0 5px 0}
footer li {
	display: inline;
	margin: 7px;

}
#wrapper {
	max-width: 420px  !important;
	margin: 0 auto;
	height: auto;
	min-height: 700px;
}